[core]
	editor = vim

[alias]
	#lg = log --graph --abbrev-commit --pretty=format:'%Cred%h%Creset - %C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset'
	lg = log --graph --abbrev-commit --pretty=format:'%Cred%h%Creset %Cgreen(%cr) %C(bold blue)<%an>%Creset %C(yellow)%d%Creset %s'
	shw = "!f() { git show --name-only $1; }; f"
	showtool = "!f() { git difftool -d \"$1\"~1 \"$1\"; }; f"

[winUpdater]
	recentlySeenVersion = 2.16.3.windows.1
[user]
	email = Richard.Chang@todo.com
	name = Richard Chang

[diff]
	#tool = meld
	#tool = vimdiff
	tool = kdiff3
[difftool]
	prompt = false
[difftool "meld"]
	cmd = meld "$LOCAL" "$REMOTE"
[difftool "kdiff3"]
	cmd = kdiff3 "$LOCAL" "$REMOTE"

[merge]
	#tool = meld
	tool = kdiff3
[mergetool]
	prompt = false
[mergetool "meld"]
	cmd = meld "$LOCAL" "$REMOTE"
[mergetool "kdiff3"]
	cmd = kdiff3 "$LOCAL" "$REMOTE"
